#bg1 {
    position: absolute;
    background-color: #e1b7bf;
    width: 100%;
    height: 720px;
    top: 0px;
    left: 0px;
}

#bg2 {
    position: absolute;
    background-color: #59437a;
    width: 100%;
    height: 720px;
    top: 720px;
    left: 0px;
}

#bg3 {
    position: absolute;
    background-color: #e1b7bf;
    width: 100%;
    height: 1440px;
    top: 1440px;
    left: 0px;
}

#bg4 {
    position: absolute;
    background-color: #59437a;
    width: 100%;
    height: 720px;
    top: 2880px;
    left: 0px;
}

#bg5 {
    position: absolute;
    background-color: #e1b7bf;
    width: 100%;
    height: 300px;


    top: 3180px;
    left: 0px;
}

#bg6 {
    position: absolute;
    background-color: #59437a;
    width: 100%;
    height: 300px;

    top: 3480px;
    left: 0px;
}

#bg7 {
    position: absolute;
    background-color: #e1b7bf;
    width: 100%;
    height: 720px;


    top: 3780px;
    left: 0px;
}

#bg8 {
    position: absolute;
    background-color: #59437a;
    width: 50%;
    height: 360px;


    top: 4080px;
    right: 0px;
}





.logo {
    display: inline-block;
    position: absolute;
    left: 100px;
    top: 35px;

    width: 100px;
    height: 50px;

}

.logo img {
    width: 55px;
    height: 25px;
}

.bar {
    display: inline-block;
    position: absolute;
    right: 100px;

}

.bar #sidebar {

    background-color: #c48591;
    width: 25px;
    height: 4px;
    margin-top: 6px;



}

.onebar {
    display: inline-block;
    background-color: #59437a;
    width: 102px;
    height: 6px;
    position: absolute;
    right: 544px;
    top: 239px;
}

.manImg {
    margin-top: 150px;
    margin-left: 120px;

    width: 420px;
    height: 550px;


}

.manImg img {
    position: absolute;
    width: 420px;
    height: 500px;
    margin-bottom: -0px;
}

.Headline {

    display: inline-block;
    position: absolute;
    margin-left: 578px;
    margin-top: -452px;
    justify-content: center;

}

.Headline h1 {
    font-size: 4.0625rem;
    line-height: 1;
    font-weight: 750;
    margin: 20px 0 0;
    font-family: 'Montserrat', sans-serif;
    color: #59437a;
}

.foot footer {
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #333333;
    top: 4440px;
    left: 0px;
    justify-content: center;
}

.foot footer p {
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    padding-top: 40px;
    text-align: center;
    color: white;
}

.btn {

    position: absolute;

    right: 335px;
    top: 428px;

    transition: height 2s;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;

}

.btn button {
    height: 54px;
    width: 292px;
    color: white;
    background-color: #c262af;
    border: none;
    border-radius: 7px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;

}



.btn button:hover {
    background-color: #59437a;
    height: 70px;
}

@keyframes serviceAnim {
    0% {
        width: 200px;
    }

    25% {
        width: 100px;
    }

    50% {
        width: 300px;
    }

    100% {
        width: 200px;
    }
}

.service1 {
    display: inline-block;
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    left: 137px;
    top: 613px;
    box-shadow: 2px 2px 2px #888888;
    animation-name: serviceAnim;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.service1 h3 {
    position: relative;
    text-align: center;
    margin-top: 85px;
    color: #434992;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 700;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;

}

.service2 {

    display: inline-block;
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    left: 371px;
    top: 613px;
    box-shadow: 2px 2px 2px #888888;
    animation-name: serviceAnim;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.service2 h3 {
    position: relative;
    text-align: center;
    margin-top: 85px;
    color: #434992;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 700;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;

}



.service3 {
    display: inline-block;
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    left: 605px;
    top: 613px;
    box-shadow: 2px 2px 2px #888888;
    animation-name: serviceAnim;
    animation-duration: 4s;
    animation-iteration-count: 1;
}

.service3 h3 {
    position: relative;
    text-align: center;
    margin-top: 85px;
    color: #434992;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 700;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;

}


.service4 {
    display: inline-block;
    position: absolute;
    background-color: white;
    width: 200px;
    height: 200px;
    left: 839px;
    top: 613px;
    box-shadow: 2px 2px 2px #888888;
    animation-name: serviceAnim;
    animation-duration: 4s;
    animation-iteration-count: 1;

}

.service4 h3 {
    position: relative;
    text-align: center;
    margin-top: 85px;
    color: #434992;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 700;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;

}

.secondText {
    position: absolute;
    display: inline-block;

    margin-left: 85px;
    margin-top: 252px;

}

.secondText .skillsHead {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-style: normal;
    font-size: 1.5rem;
    color: #d4c7e8;
    font-family: 'Montserrat', sans-serif;
}

.secondText .mainHead {

    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    margin: 20px 0 0;
    line-height: 1.1;
    color: white;

}

.secondText .paraText {
    color: #d4c7e8;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 30px;
    font-weight: lighter;


}

.secondText button {
    width: 160px;
    height: 45px;
    margin-left: 2px;
    border: none;
    border-radius: 7px;
    background-color: #c262af;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    letter-spacing: 0.40px;
}

.secondText button:hover {
    background-color: white;
    color: #c262af;
}

.servicesOffered1 {
    position: absolute;
    display: inline-block;
    right: 500px;
    top: 952px;


}

.servicesOffered1 li {
    list-style: square;
    color: #d4c7e8;
    line-height: 30px;
    font-size: 18px;

}

.servicesOffered2 {
    position: absolute;
    display: inline-block;
    right: 125px;
    top: 952px;
}

.servicesOffered2 li {
    list-style: square;
    color: #d4c7e8;
    line-height: 30px;
    font-size: 18px;
}

.testimonials {
    position: absolute;
    display: inline-block;
    width: 600px;
    height: 800px;
    top: 1475px;
    left: 100px;
}

.testimonials .cofeeBox {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;

}

@keyframes testAnim {
    0% {
        color: #973884;
    }

    25% {
        color: yellow;
    }

    50% {
        color: green;
    }

    75% {
        color: red;
    }

    100% {
        color: #973884;
    }
}

.testimonials h1 {
    font-size: 60px;
    margin-top: 40px;
    text-align: center;
    font-weight: 1000;
    color: #973884;
    font-family: 'Montserrat', sans-serif;
    text-decoration-thickness: 1000px;
    animation-name: testAnim;
    animation-duration: 4s;
    animation-iteration-count: infinite;

}

.testimonials h4 {
    text-align: center;
    color: black;
    font-weight: 200px;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -25px;

}

.testimonials p {
    text-align: center;
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.testimonials .awardsBox {
    position: relative;
    width: 250px;
    height: 250px;
    top: -253px;
    margin-left: 316px;
    background-color: white;
    display: inline-block;
}

.testimonials .clientsBox {
    position: relative;
    width: 250px;
    height: 250px;
    margin-top: -220px;
    margin-left: 20px;
    background-color: white;
    display: inline-block;
}

.testimonials .projectsBox {
    position: relative;
    width: 250px;
    height: 250px;
    top: -253px;
    margin-left: 316px;
    background-color: white;
    display: inline-block;
}




.blackbox {
    width: 250px;
    height: 15px;
    background-color: #59437a;
    display: inline-block;
    position: absolute;
}

.personalInfo {
    position: absolute;
    display: inline-block;
    width: 400px;
    height: 1000px;
    right: 75px;
    top: 1490px;
    background-color: #59437a;


}

.personalInfo h4 {
    color: white;
    font-weight: lighter;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    font-size: 13px;
    margin-left: 40px;

}

.personalInfo h3 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 10px;
    letter-spacing: 2px;
    margin-left: 40px;
}

.joinUs {
    position: absolute;
    display: inline-block;
    width: 600px;
    height: 380px;
    margin-top: 1420px;
    margin-left: 110px;
}

.joinUs h1 {
    color: #59437a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    font-size: 2.0rem;
    letter-spacing: 2px;

}

.joinUs p {
    color: #59437a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 50px;
    font-size: 15px;
    line-height: 25px;
}

.joinUs button {
    width: 320px;
    height: 60px;
    border: none;
    border-radius: 6px;
    background-color: #ca3eae;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 350px;
    font-size: 18px;

}

.joinUs button:hover {
    background-color: #59437a;
}

.pricing {
    position: absolute;
    display: inline-block;
    width: 1222px;
    height: 300px;
    left: 0px;
    margin-top: 2180px;
    color: #d4c7e8;
}

.pricing h3 {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 24px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.pricing #basic {
    margin-left: 200px;
}

.pricing #stand {
    margin-top: -48px;
    margin-left: 562px;
}

.pricing #prem {
    margin-left: 1000px;
    margin-top: -48px;
}

.pricing p {
    text-align: center;
    color: white;
    font-weight: lighter;
    font-size: 12px;
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
}

.gallery {
    position: absolute;
    display: inline-block;
    width: 1222px;
    height: 890px;
    left: 0px;
    top: 3179px;
}

.gallery h1 {
    text-align: center;
    margin-top: 60px;
    font-size: 3rem;
    font-weight: 900;
    color: #c262af;
}

.gallery .boxes {
    position: absolute;
    width: 1222px;
    height: 700px;
}

#galbox1 {
    background-color: white;
    margin-top: 60px;
    margin-left: 100px;
    width: 300px;
    height: 500px;
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 2px #888888;

}

.boxes #galbox2 {
    background-color: white;
    top: 60px;
    margin-left: 30px;
    width: 300px;
    height: 500px;
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 2px #888888;
}

.boxes #galbox3 {
    background-color: white;
    top: 135px;
    margin-left: 30px;
    width: 300px;
    height: 500px;
    position: relative;
    display: inline-block;
    box-shadow: 2px 2px 2px #888888;
}

.boxes #galbox1 img {
    position: relative;
    display: inline-block;
    width: 270px;
    height: 214px;
    top: 25px;
    left: 15px;

}

.boxes #galbox2 img {
    position: relative;
    display: inline-block;
    width: 270px;
    height: 214px;
    top: 25px;
    left: 15px;

}

.boxes #galbox3 img {
    position: relative;
    display: inline-block;
    width: 270px;
    height: 214px;
    top: 25px;
    left: 15px;

}

.gallery h4 {
    text-align: center;
    margin-top: 40px;
    font-weight: lighter;
    font-size: 24px;
    letter-spacing: 0.7px;
    font-family: sans-serif;
}

.gallery p {
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 25px;
    font-family: sans-serif;
    margin-top: -20px;
}

.gallery a {
    text-decoration: none;
    margin-left: 100px;
    font-weight: 200;
    font-size: 16px;
    color: #ca3eae;
    font-family: 'Montserrat', sans-serif;
}

.gallery a:hover {
    text-decoration: underline;
    color: #8f1d78;
}

.newsletter {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 57%;
    top: 4080px;
    left: 0px;
}

.newsletter h1 {
    font-weight: bolder;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: #434992;



}

.newsletter input {
    margin-top: 5px;
    padding: 5px;
    margin-left: 140px;
    width: 50%;
    height: 30px;
    border: 2px solid #434992;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    color: grey;
}

.newsletter button {
    margin-left: 145px;
    margin-top: 7px;
    height: 70px;
    width: 50%;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: 2px solid #434992;
    border-radius: 7px;
    color: white;
    background-color: #59437a;


}


.newsletter button:hover {
    background-color: #c262af;


}

.aboutme {
    position: absolute;
    display: inline-block;
    width: 50%;
    height: 57%;
    top: 4080px;
    left: 670px;

}

.aboutme img {
    position: relative;
    width: 150px;
    height: 150px;
    left: 35%;
    top: 30px;
    border: 2px solid transparent;
    border-radius: 100px;
    padding: 20px;

}


.aboutme .text h1 {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    color: white;
    font-family: "Montserrat", sans-serif;
}

.aboutme .text h2 {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    color: #c48591;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1024px) {

    .background #bg1,
    #bg2,
    #bg4,
    #bg5,
    #bg6,
    #bg7 {

        width: 1500px;
        height: 100%;
    }

    .background #bg3 {
        width: 1500px;
        height: 1440px;
    }



    .background #bg8 {
        width: 830px;
        left: 670px;
    }

    .bar {
        display: inline-block;
        position: absolute;
        left: 1420px;
        top: 35px;
    }

    .btn {

        position: absolute;

        left: 590px;
        top: 428px;

        transition: height 2s;
        transition-timing-function: ease-in-out;
        transition-duration: 2s;

    }

    .onebar {
        display: inline-block;
        background-color: #59437a;
        width: 102px;
        height: 6px;
        position: absolute;
        left: 590px;
        top: 239px;
    }

    .servicesOffered1 {

        position: absolute;
        display: inline-block;
        left: 450px;
        top: 852px;
        width: 200px;



    }


    .servicesOffered1 li {
        list-style: square;
        color: #d4c7e8;
        line-height: 18px;
        font-size: 16px;
        letter-spacing: 1px;
        margin-top: 4px;

    }

    .servicesOffered2 {

        position: absolute;
        display: inline-block;
        left: 800px;
        top: 852px;
        width: 200px;


    }

    .servicesOffered2 li {
        list-style: square;
        color: #d4c7e8;
        line-height: 20px;
        font-size: 16px;
        letter-spacing: 1px;

    }

    .personalInfo {
        position: absolute;
        display: inline-block;
        width: 400px;
        height: 1000px;
        left: 1000px;
        top: 1490px;
        background-color: #59437a;


    }

    .newsletter {
        top: 4060px;
        width: 450px;
        height: 30px;
    }

    .newsletter h1 {
        font-weight: bolder;
        font-size: 24px;
        text-align: center;
        font-family: "Montserrat", sans-serif;
        color: #434992;
        width: 300px;



    }

    .newsletter input {
        margin-top: 5px;
        padding: 5px;
        margin-left: 140px;
        width: 50%;
        height: 30px;
        border: 2px solid #434992;
        border-radius: 7px;
        font-size: 14px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        color: grey;
    }

    .newsletter button {
        margin-left: 145px;
        margin-top: 7px;
        height: 70px;
        width: 50%;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        border: 2px solid #434992;
        border-radius: 7px;
        color: white;
        background-color: #59437a;


    }

    .aboutme {
        left: 880px;
    }

    .foot footer {
        width: 1500px;
        height: 225px;
    }


}